@using Resources
@using Trezorix.Sparql.Api.Core.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ApiConfiguration.Current.ApplicationTitle + " - Admin";
}
<div ng-view></div>

