@using Trezorix.Sparql.Api.Core.Configuration
<h2>Welkom bij @ApiConfiguration.Current.ApplicationTitle Beheer applicatie.</h2>
<ul class="list-unstyled">
	<li><a href="#/query">Beheer de SPARQL query's</a></li>
	<li><a href="#/account">Beheer accounts en API keys.</a></li>
	<li><a href="@ApiConfiguration.Current.QueryApiUrl/Home/Index/?api_key=@ViewBag.Account.Id">Ga naar de Query API homepage.</a></li>
</ul>