*.Cache
*.db
*.suo
*.tmp
*.user
bin
build
com
config
deploy
dist
obj
/release
Data
Logs
Publish
packages
!packages/Microsoft.Bcl.Build*/tools/Microsoft.Bcl.Build.targets
src/.nuget/
/bootstrap-customize
/extractor
/json-ld
/src/QueryApi/logs
