@using Resources
<div id="edit_query_access" class="well space-above">
	<div class="form-group row">
		<div class="col-xs-12">
			<label>Selecteer de query's waar gebruiker '{{account.FullName}}' toegang toe heeft.</label>
      <ul class="account-list list-unstyled">
        <li>
          <div class="row">
            <div data-ng-class="{ 'col-xs-10': !account.isEditor, 'col-xs-8': account.IsEditor}">Query</div>
            <div class="col-xs-2">
              <div class="text-center">Bekijken</div>
            </div>
            <div class="col-xs-2" data-ng-show="account.IsEditor">
              <div class="text-center">Bewerken</div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div data-ng-class="{ 'col-xs-10': !account.isEditor, 'col-xs-8': account.IsEditor}">
              <span></span>
            </div>
            <div class="col-xs-2">
              <div class="text-center">
                <checkbox-selector data-ng-disabled="!user.isEditor" data-select-all="toggleAccess('View', true)"  data-select-none="toggleAccess('View', false)"></checkbox-selector>
              </div>
            </div>
            <div class="col-xs-2" data-ng-show="account.IsEditor">
              <div class="text-center">
                <checkbox-selector data-ng-disabled="!user.isEditor" data-select-all="toggleAccess('Edit', true)"  data-select-none="toggleAccess('Edit', false)"></checkbox-selector>
              </div>
            </div>
          </div>
        </li>
        <li data-ng-repeat="queryAccess in account.QueryAccess">
          <div class="row">
            <div data-ng-class="{ 'col-xs-10': !account.IsEditor, 'col-xs-8': account.IsEditor}">
              <span>{{queryAccess.Name}}</span>
            </div>
            <div class="col-xs-2">
              <div class="text-center">
                <input type="checkbox" value="{{queryAccess.Name}}" data-ng-model="queryAccess.View" data-ng-disabled="!user.isEditor" />
              </div>
            </div>
            <div class="col-xs-2" data-ng-show="account.IsEditor">
              <div class="text-center">
                <input type="checkbox" value="{{queryAccess.Name}}" data-ng-model="queryAccess.Edit" data-ng-disabled="!user.isEditor" />
              </div>
            </div>
          </div>
        </li>
      </ul>
		</div>
	</div>
</div>