@using Resources
@model Trezorix.Sparql.Api.Core.Accounts.Account

<div>
	<div>
		<ng-form name="accountForm" >
			<tabset>
				<tab heading="Algemeen">
					@{ Html.RenderPartial("General"); }
				</tab>
				<tab heading="Toegang">
					@{ Html.RenderPartial("Access"); }
				</tab>
			</tabset>
			@{ Html.RenderPartial("Control"); }  
		</ng-form>
	</div>
</div>
