@using Resources
@using Trezorix.Sparql.Api.Core.Configuration
<div id="edit_account_general" class="well space-above">
  <ng-form password-form>
    <div class="form-group row">
      <div class="col-lg-12">
        <label>Wachtwoord</label>
        <input type="password" class="form-control" data-ng-model="password1" />
      </div>
      <div class="col-lg-12">
        <label>Herhaal wachtwoord</label>
        <input type="password" class="form-control" data-ng-model="password2" />
        <button class="btn btn-primary space-above" data-ng-click="savePassword(password1)" data-ng-disabled="!isValidPassword(password1, password2)">@EditorStrings.ChangePassword</button>
      </div>
    </div>
  </ng-form>
</div>