@using Resources
<div id="view_log_general" class="well space-above form-inline">

  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-lg-1">
        <label class="control-label">Periode</label>
      </div>
      <div class="col-lg-11">
        <select class="form-control" data-ng-model="timespan" data-ng-options="item.label for item in statisticsTimespans" data-ng-change="onTimespanChanged(timespan)"></select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 space-above">
      <table class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th>{{logStatsFirstColumnLabel}}</th>
            <th class="numValue">Gemiddelde tijd (ms)</th>
            <th class="numValue">Uitvoeringstijd (ms)</th>
            <th class="numValue">Cache tijd (ms)</th>
            <th class="numValue">Hits</th>
            <th class="numValue">Cache hits</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="log in queryStatistics">
            <td>{{log.Name}}</td>
            <td class="numValue">{{log.AverageTime}}</td>
            <td class="numValue">{{log.AverageExecutionTime}}</td>
            <td class="numValue">{{log.AverageCachedTime}}</td>
            <td class="numValue">{{log.Hits}}</td>
            <td class="numValue">{{log.CacheHits}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>