@using Resources
<div id="edit_settings_access" class="well space-above">
	<div class="form-group row">
		<div class="col-lg-12">
			<label>Selecter of de API anonieme toegang toestaat.</label>
			<ul class="list-unstyled"  style="margin-top: 8px;">
				<li>
					<input type="checkbox" value="AllowAnonymous" data-ng-model="settings.AllowAnonymous"  />
					<span class="space-before">Anonieme toegang toestaan</span>
				</li>
			</ul>   
		</div>
	</div>
</div>