@using Resources
<div id="edit_settings_endpoints">
	<div data-ng-show="settings.SparqlEndpoints == null || settings.SparqlEndpoints.length == 0" class="well space-above">
		<div class="form-group row">
			<div class="col-lg-12">
				<div class="space-above">
					<span>Geen endpoints gespecificeerd.</span><button data-ng-click="addEndpoint($index)" class="btn btn-sm btn-default pull-right">@EditorStrings.Add</button>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-repeat="endpoint in settings.SparqlEndpoints" class="well space-above">
		<div class="form-group row">
			<div class="col-lg-12">
				<label class="small-space-above">Naam</label>
				<input type="text" class="form-control" data-ng-model="endpoint.Name" data-ng-required="true"/>
				<label class="small-space-above">Url</label>
				<input type="text" class="form-control" data-ng-model="endpoint.Url" data-ng-required="true"/>
				<label class="small-space-above">Username</label>
				<input type="text" class="form-control" data-ng-model="endpoint.Username" />
				<label class="small-space-above">Password</label>
				<input type="password" class="form-control" data-ng-model="endpoint.Password" />
				<label class="small-space-above">Timeout (s)</label>
				<input type="text" class="form-control" data-ng-model="endpoint.Timeout" />
				<label class="small-space-above">Namespaces</label>
				<textarea rows="3" class="form-control" data-ng-model="endpoint.Namespaces" wrap="off" spellcheck='false'></textarea>
				<div class="space-above">
					<button data-ng-click="deleteEndpoint($index)" class="btn btn-sm btn-danger">@EditorStrings.Delete</button>
					<button data-ng-click="addEndpoint($index)" class="btn btn-sm btn-default pull-right">@EditorStrings.Add</button>
				</div>
			</div>
		</div>
	</div>
</div>