@using Resources
<div id="edit_settings_general" class="well space-above">
	
	<div class="form-group row">
		<div class="col-lg-12">
			<label>Titel</label>
			<input type="text" class="form-control" data-ng-model="settings.ApplicationTitle" data-ng-required="true"/>
		</div>
		<div class="col-lg-12 space-above">
			<label>Beschrijving</label>
			<textarea rows="10" class="form-control" data-ng-model="settings.Description" wrap="off" spellcheck='false'></textarea>
		</div>
	</div>
</div>