@model Trezorix.Sparql.Api.Core.Configuration.ApiConfiguration
<div>
	<div>
		<ng-form name="settingsForm" >
			<tabset>
				<tab heading="Algemeen">
					@{ Html.RenderPartial("General"); }
				</tab>
				<tab heading="SPARQL Endpoints">
					@{ Html.RenderPartial("Endpoints"); }
				</tab>
				<tab heading="Toegang">
					@{ Html.RenderPartial("Access"); }
				</tab>
				<tab heading="Caching">
					@{ Html.RenderPartial("Caching"); }
				</tab>
			</tabset>
			@{ Html.RenderPartial("Control"); }
		</ng-form>
	</div>
</div>
