
.space-above {
  margin-top: 20px;
}

.space-below {
  margin-bottom: 20px;
}

.space-before {
  margin-left: 6px;
}

li {
	margin-bottom: 4px;
}

.small-space-above {
	margin-top: 8px;
}

.navbar-inverse {
	background-color: #203040;
}

th.numValue {
	text-align: right;
}

td.numValue {
	text-align: right;
	padding-right: 12px;
}

.sparql-editor {
	font-family: Courier New;
	font-size: 14px;
	white-space: pre;
	word-wrap: normal;
	overflow-x: scroll;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #304050;
    color: #FFFFFF;
}

.btn-info {
  background-color: #405060;
  border-color: #455055;
  color: #ffffff;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  background-color: #455055;
  border-color: #354045;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #455055;
  border-color: #455055;
}

.btn-default {
  background-color: #405060;
  border-color: #455055;
  color: #ffffff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background-color: #455055;
  border-color: #354045;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #455055;
  border-color: #455055;
}



.btn-primary {
  background-color: #405060;
  border-color: #607080;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #406080;
  border-color: #304050;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #8090a5;
	border-color: #405060;
	color: #102030;
}


.btn-danger {
  background-color: #801030;
  border-color: #902040;
  color: #ffffff;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background-color: #9a1030;
  border-color: #600030;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #702040;
  border-color: #902040;
  color: #ffffff;
}

.CodeMirror-wrap {
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.CodeMirror-lines {
	line-height: 1.5em;
}