@using Resources
<div id="edit_query_access" class="well space-above">

	<label>Selecter gebruikers die toegang hebben tot de query '{{query.Alias}}'.</label>

	<div class="form-group row">

		<div class="col-lg-12">
			<div class="col-lg-1">Bekijken</div>
			<div class="col-lg-1">Bewerken</div>
			<div class="col-lg-10">&nbsp;</div>
		</div>

		<div class="col-lg-12" data-ng-repeat="access in query.Access">
			<div class="col-lg-1">
				<input type="checkbox" value="{{access.Id}}" data-ng-model="access.CanReadSelected" data-ng-disabled="query.AllowAnonymous" />
			</div>
			<div class="col-lg-1">
				<input type="checkbox" value="{{access.Id}}" data-ng-model="access.CanEditSelected" data-ng-disabled="query.AllowAnonymous" data-ng-show="access.Account.IsEditor" />
			</div>
			<div class="col-lg-10">
				<span class="space-before">{{access.Name}}</span>
			</div>
		</div>
		
		<div class="col-lg-12">
			<div class="col-lg-1"><input type="checkbox" value="anonymous" data-ng-model="query.AllowAnonymous" /></div>
			<div class="col-lg-1">&nbsp;</div>
			<div class="col-lg-10"><span class="space-before">Anonieme toegang</span></div>
		</div>

	</div>
</div>