@using Resources
<div id="edit_query_access" class="well space-above">

  <label>Selecter gebruikers die toegang hebben tot de query '{{query.Alias}}'.</label>

  <div class="row space-top-large">
    <div class="col-xs-12">
      <ul class="account-list">
        <li>
          <div class="row">
            <div class="col-xs-8">Account</div>
            <div class="col-xs-2">
              <div class="text-center">Bekijken</div>
            </div>
            <div class="col-xs-2">
              <div class="text-center">Bewerken</div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-xs-8"></div>
            <div class="col-xs-2">
              <div class="text-center">
                <checkbox-selector data-ng-disabled="!user.isEditor" data-select-all="toggleAccess('CanReadSelected', true)"  data-select-none="toggleAccess('CanReadSelected', false)"></checkbox-selector>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="text-center">
                <checkbox-selector data-ng-disabled="!user.isEditor" data-select-all="toggleAccess('CanEditSelected', true)"  data-select-none="toggleAccess('CanEditSelected', false)"></checkbox-selector>
              </div>
            </div>
          </div>
        </li>
        <li data-ng-repeat="access in query.Access">
          <div class="row">
            <div class="col-xs-8">
              <a data-ng-href="/#/account/{{access.Account.Id}}/{{access.Account.ApiKey}}">{{access.Name}}</a>
            </div>
            <div class="col-xs-2">
              <div class="text-center">
                <input type="checkbox" value="{{access.Id}}" data-ng-model="access.CanReadSelected" data-ng-disabled="query.AllowAnonymous || !user.isEditor" />
              </div>
            </div>
            <div class="col-xs-2">
              <div class="text-center">
                <input type="checkbox" value="{{access.Id}}" data-ng-model="access.CanEditSelected" data-ng-disabled="!user.isEditor" data-ng-show="access.Account.IsEditor" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-xs-8">
              <span>Anonieme toegang</span>
            </div>
            <div class="col-xs-2">
              <div class="text-center">
                <input type="checkbox" value="anonymous" data-ng-model="query.AllowAnonymous" data-ng-disabled="!user.isEditor" />
              </div>
            </div>
            <div class="col-xs-2">&nbsp;</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>