<div>
	<div>
		<ng-form name="queryForm" ng-init="codeMirrorRefresh = 0">
			<tabset>
				<tab heading="Algemeen" active="activeTab['general']" data-select="setTab('general')">
					@{ Html.RenderPartial("General"); }
				</tab>
				<tab heading="SPARQL"  active="activeTab['sparql']" data-select="setTab('sparql')">
					@{ Html.RenderPartial("Sparql"); }
				</tab>
				<tab heading="Parameters"  active="activeTab['parameters']" data-select="setTab('parameters')">
					@{ Html.RenderPartial("Parameters"); }
				</tab>
				<tab heading="Notities" active="activeTab['notes']" data-select="setTab('notes')">
					@{ Html.RenderPartial("Notes"); }
				</tab>
				<tab heading="Toegang" active="activeTab['access']" data-select="setTab('access')">
					@{ Html.RenderPartial("Access"); }
				</tab>
				<tab heading="Test" active="activeTab['test']" data-select="setTab('test')">
					@{ Html.RenderPartial("Test"); }
				</tab>
				<tab heading="Logs" active="activeTab['logs']" data-select="setTab('logs')" data-ng-controller="LogStatsController">
					@{ Html.RenderPartial("LogStats"); }
				</tab>
			</tabset>
			@{ Html.RenderPartial("Control"); }  
			@{ Html.RenderPartial("PreviewQuery"); }  
			@{ Html.RenderPartial("Preview"); }  
			<div style="display: none;">
				<div id="sparql-editor" ui-codemirror="codeMirrorOptions" ui-refresh="codeMirrorRefresh" data-ng-model="query.SparqlQuery"></div>
			</div>
		</ng-form>
	</div>
</div>
