@using Resources
<div id="edit_query_parameters">
  <div data-ng-show="query.Parameters == null || query.Parameters.length == 0" class="well space-above">
    <div class="form-group row">
      <div class="col-lg-12">
        <div class="space-above">
          <span>Geen parameters gespecificeerd.</span><button data-ng-click="addParameter($index)" class="btn btn-sm btn-default pull-right">@EditorStrings.Add</button>
        </div>
      </div>
    </div>
  </div>
  <div data-ng-repeat="parameter in query.Parameters" class="well space-above">
    <div class="form-group row">
      <div class="col-lg-12">
        <label>Naam</label>
				<input type="text" class="form-control" data-ng-model="parameter.Name" data-ng-required="true" data-ng-disabled="!user.isEditor" />
        <label class="small-space-above">Beschrijving</label>
				<textarea rows="2" class="form-control" data-ng-model="parameter.Description" wrap="off" spellcheck='false' data-ng-disabled="!user.isEditor"></textarea>
        <label class="small-space-above">Voorbeeldwaarde</label>
				<input type="text" class="form-control" data-ng-model="parameter.SampleValue" data-ng-disabled="!user.isEditor" />
        <label class="small-space-above">Waarde query</label>
				<textarea rows="5" class="form-control sparql-editor" data-ng-model="parameter.ValuesQuery" wrap="off" spellcheck='false' data-ng-disabled="!user.isEditor"></textarea>
      </div>
      <div class="col-lg-12">
        <div class="space-above"></div>
				<button data-ng-click="deleteParameter($index)" class="btn btn-sm btn-danger" data-ng-disabled="!user.isEditor">@EditorStrings.Delete</button>
				<button data-ng-click="addParameter($index)" class="btn btn-sm btn-default pull-right" data-ng-disabled="!user.isEditor">@EditorStrings.Add</button>
      </div>
    </div>
  </div>
</div>