@using Resources
<div class="space-above" data-ng-show="previewResults.head" >
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th data-ng-repeat="var in previewResults.head.vars">{{var}}</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="binding in previewResults.results.bindings">
          <td data-ng-repeat="var in previewResults.head.vars">
            {{formatSparqlBinding(binding[var])}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>