@using Resources
<div class="space-above" data-ng-show="previewQuery.Query">
  <div class="col-lg-12 space-above">
    <ul>
      <li data-ng-repeat="(key,val) in previewQuery.Params">{{key}}: {{val}}</li>
    </ul>
  </div>
  <div class="col-lg-12 space-above">
    <textarea rows="20" class="form-control sparql-editor" data-ng-model="previewQuery.Query" wrap="off" spellcheck='false'></textarea>
  </div>
</div>