[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
.message-box-container {
  left: 25%;
  padding-left: 32px;
  position: fixed;
  top: 16px;
  width: 50%;
  z-index: 9999;
}
.message-box-container .alert {
  margin-top: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px;
}
.space-left {
  margin-left: 1em;
}
.space-right {
  margin-right: 1em;
}
.space-top {
  margin-top: 0.8em;
}
.space-top-large {
  margin-top: 1.6em;
}
.space-bottom {
  margin-bottom: 0.8em;
}
.btn.btn-sm {
  line-height: 1;
  margin-top: -0.3em;
}
.btn a {
  text-decoration: none;
}
.panel-heading h4 {
  margin: 0;
}
.fa-doublet {
  margin-left: -12px;
}
.list-group-item {
  display: inline-block;
  width: 100%;
}
.list-group-item a {
  text-decoration: none;
  color: #333333;
}
.input-number {
  width: 6em;
}
.form-inline.form-group.form-group-sm .input-inline {
  width: 100% !important;
}
.form-inline.form-group.form-group-sm .input-number {
  width: 25% !important;
}
.form-inline.form-group.form-group-sm .label-sm {
  font-weight: normal !important;
  font-size: 90% !important;
  margin-left: 0.1em;
}
.form-inline.form-group.form-group-sm input[type='checkbox'] {
  vertical-align: text-bottom;
  margin-left: 0.3em;
}
.form-inline.form-group.form-group-sm .btn {
  margin-top: 0;
  vertical-align: middle;
  line-height: 1.5;
}
.form-inline.form-group.form-group-sm .btn-radio {
  padding-right: 0.3em;
  padding-left: 0.3em;
}
.form-inline.form-group.form-group-sm .radio-buttons input[type='radio'] {
  display: none;
}
.alert button {
  margin-top: -0.5em;
}
@media screen and (max-width: 425px) {
  .list-group-item {
    min-height: 60px;
  }
}
@media screen and (max-width: 320px) {
  .list-group-item .text-muted {
    float: left !important;
  }
}