<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs/"/>
  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/${shortdate}_log.txt" />
    <target name="errorfile" xsi:type="File" fileName="${logDirectory}/${shortdate}_error.txt" layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>
