<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 		<variable name="logDirectory" value="${basedir}/../logs/"/>
    <targets>
        <target name="logfile" xsi:type="File" fileName="${logDirectory}/admin.log" 
                archiveEvery="day"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMdd"
                archiveFileName="${logDirectory}/{#}.admin.log"
                maxArchiveFiles="7" />
        <target name="errorfile" xsi:type="File" fileName="${logDirectory}/admin.error.log" 
                layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
                archiveEvery="day"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMdd"
                archiveFileName="${logDirectory}/{#}.admin.error.log"
                maxArchiveFiles="14" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
      <logger name="*" minlevel="Error" writeTo="errorfile" />
    </rules>
</nlog>
