@using Trezorix.Sparql.Api.Core.Configuration
@model ApiConfiguration
<div>
	<div>
@*		<ng-form name="logForm" data-ng-model="queryStatistics">*@
			<tabset>
				<tab heading="Statistieken">
					@{ Html.RenderPartial("General"); }
				</tab>
				<tab heading="Downloads" select="getTabContent('downloads')">
					@{ Html.RenderPartial("Downloads"); }
				</tab>
			</tabset>
	@*	</ng-form>*@
	</div>
</div>
